<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Punix"
        tools:targetApi="31">
        <activity
            android:name=".View.CompleteOrderActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".View.CheckoutActivity"
            android:exported="false"
            android:parentActivityName=".View.CartActivity" />
        <activity
            android:name=".View.CartActivity"
            android:exported="false"
            android:parentActivityName=".View.BrowseActivity" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.BrowseActivity"
            android:exported="false"
            android:label="Browse Food"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.AdminItemActivity"
            android:exported="false"
            android:label="Browse Food"
            android:parentActivityName=".View.MainAdminActivity" />
        <activity
            android:name=".View.AdminEditItemActivity"
            android:exported="false"
            android:label="Browse Food"
            android:parentActivityName=".View.AdminItemActivity" />
        <activity
            android:name=".View.AdminTransactionActivity"
            android:exported="false"
            android:label="Browse Transaction"
            android:parentActivityName=".View.MainAdminActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.punix.View.MainActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.MainAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>